#root,html,body {
    background-color: rgb(4 4 13);
    color: #fcf9f9;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Semibold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Milker';
    src: url('/fonts/milker.otf') format('truetype');
  }